body {
  background-color: azure;
color: black;
margin-left: 40px;
font-size: 16px;
font-weight: normal;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: gold;
}

a:visited {
  color:blue;
}

.avatar {
    width: 300px;
    border-radius: 20px;
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.25);
}

.info {
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .info {
    text-align: center;
    display: block;
  }
}

.info-text {
  margin-left: 40px;
}

.info-text h4 {
  margin-bottom: 10px;
}

.info p {
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    word-spacing: normal;
}

/*.work {
  background: silver;
  padding: 15px;
  /*padding: 15px 20px 30px 40px;*/
  border: 5px solid black;
  margin: 15px;
}*/
 
.container {
  max-width: 1400px;
  margin: auto;
  padding-top: 30px;
}

/*.box-model > div {
 float: left;
 background: black;
 height: 200px;
 border: 4px solid red;
 width: 25%;
 box-sizing: border-box;
}*/

.bg-yellow {
  background: #fff9dc;
}

.bg-green {
  background: #e5ffe7;
}

.bg-red {
  background: #ffe5e5;
}


.card {
  padding: 20px 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.card h2 {
  margin-bottom: 10px;
}

.list {
  padding: 0 20px; 
}

.list li {
  color: #c0c0c0;
  margin-bottom: 10px;
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  color: darkcyan
}

/*.table tr:nth-child(odd/even) {
  background: red;
}*/

.link-list {
  list-style: none;
  padding: 0;
}

.link-list li {
  margin-bottom: 14px;
  /*padding-bottom: 7px;*/
  border-bottom: 1px solid #c0c0c0;
}

.contact h2 {
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: black;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  color: black;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
  background: transparent;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row > .form-group {
  width: 50%;
  margin-right: 20px;
}

.btn {
  background: black;
  padding: 15px 20px;
  color: #fff;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

/*.position { 
  position: relative;
  border: 4px solid black;
  margin-top: 40px;
  padding: 20px;
  height: 300px;
}

.box {
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: lightsteelblue;
}*/

